# Mengabaikan file sampah build Flutter di folder frontend
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/

# Mengabaikan file konfigurasi lokal
frontend/.env
